@tailwind base;
@tailwind components;
@tailwind utilities;



.shake_button {
  animation: shake 5.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
0% {
  transform: translate3d(0, 0, 0);
}
5% {
  transform: translate3d(20px, 10px, 0);
}
10% {
  transform: translate3d(0px, 0, 0);
}
15% {
  transform: translate3d(-20px, 10px, 0);
}
20% {
  transform: translate3d(0px, 0, 0);
}
100% {
  transform: translate3d(0px, 0, 0);
}
}