@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}



.shake_button {
  animation: shake 5.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
0% {
  transform: translate3d(0, 0, 0);
}
5% {
  transform: translate3d(20px, 10px, 0);
}
10% {
  transform: translate3d(0px, 0, 0);
}
15% {
  transform: translate3d(-20px, 10px, 0);
}
20% {
  transform: translate3d(0px, 0, 0);
}
100% {
  transform: translate3d(0px, 0, 0);
}
}


.container-marquee {
	min-height: 15vh;
	--space: 1rem;
	display: grid;
	align-content: center;
	overflow: hidden;
	gap: var(--space);
	width: 100%;
	font-family: var(--font-family);
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.5;

}



.marquee {
	--duration: 15s;
	--gap: var(--space);
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);

}



@media screen and (max-width: 400px) {
	.marquee img{
		min-height: 25vh;
	}
}

.marquee__group {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
	.marquee__group {
		animation-play-state: paused;
	}
}

.marquee__group img {
	max-width: clamp(15rem, 1rem + 28vmin, 25rem);
	aspect-ratio: 1.4;
	object-fit: cover;
}

.image_wrapper {
	position: relative;
}

.image_wrapper p {
	position: absolute;
	color: white;
}

.marquee--reverse .marquee__group {
	animation-direction: reverse;
	animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-100% - var(--gap)));
	}
}


.chakra-form__label.css-3gneun {
		width: fit-content;
    margin-left: auto;
		margin-right: auto;
    /* text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 hsla(360, 86%, 50%, 1), inset 0 -3px 0 0 hsla(360, 86%, 50%, 1); */
}